h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2%;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  background-color: #ececec;
  border: 1px solid #cacaca;
  font-size: 30px;
}

.square {
  min-width: 150px;
  max-width: 150px;
  min-height: 150px;
  max-height: 150px;
  border-radius: 4px;
  text-align: center;
  line-height: 150px;
  margin: 5px;
  padding: 0px;
  transition: 0.5s;
  position: relative; /*so that the draggable element will be 'absolute' relatively to this square element not to body element*/
}

.orange {
  background-color: orange;
  color: #ececec;
  font-size: 60px;
}

.black {
  background-color: #000;
  font-size: 40px;
}
.smaller-square {
  min-width: 140px;
  max-width: 140px;
  min-height: 140px;
  max-height: 140px;
  margin: 5px;
  text-align: center;
  line-height: 140px;
  color: #fff;
  position: absolute; /*so that the text of this element parent will be below this elemnt parent*/
  top: 0;
  left: 0;
}
